/*
Author: Trevor Linan
Author URI: 
Version: 1.0
Text Domain: 

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
.01 Variables (LESS ONLY)
.02 Resusables
.03 Helper Classes
.04 Tool Tips
.05 Inputs
1.0 General
2.0 Navigation Tabs
3.0 Info Container
--------------------------------------------------------------*/
/* === .01 VARIABLES (LESS ONLY) === */
/* === .02 REUSABLES === */
.button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  transition-duration: .15s;
}
.button:active {
  transform: scale(0.95, 0.95);
  outline: none;
}
.buttonBlue {
  background-color: #1D7BE3;
  color: #fff;
}
.buttonBlue:hover {
  box-shadow: 0 2px 0px #666;
}
.buttonWhite {
  background-color: #fff;
  color: #1D7BE3;
  border: 1px solid #E1E1E1;
}
.buttonWhite:hover {
  box-shadow: 0 2px 0px #1D7BE3;
}
/* === .03 HELPER CLASSES === */
.mt15 {
  margin-top: 15px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.cssTransitionHelper {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
/* === .04 TOOL TIPS === */
.toolTip {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  z-index: 2;
}
.toolTip img {
  width: 100%;
  height: 100%;
}
.toolTip:before {
  position: absolute;
  top: 6px;
  right: 16px;
  transform: scale(0.75, 1) translateX(10%);
  border-color: transparent transparent transparent #6F7276;
  border-width: 6px;
  border-style: solid;
  content: '';
  opacity: 0;
}
.toolTip:after {
  position: absolute;
  top: -12px;
  right: 28px;
  height: 46px;
  transform: scale(0.75, 1) translateX(10%);
  content: '';
  opacity: 0;
}
.toolTip:hover:before {
  position: absolute;
  top: 6px;
  right: 16px;
  width: 9px;
  height: 9px;
  content: '';
  color: #fff;
  border-color: transparent transparent transparent #6F7276;
  border-width: 6px;
  border-style: solid;
  opacity: 1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.toolTip:hover:after {
  position: absolute;
  top: -12px;
  right: 28px;
  height: 46px;
  content: attr(data-toolTip);
  padding: 10.5px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  border-radius: 4px;
  background-color: #6F7276;
  white-space: nowrap;
  opacity: 1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.tipLeft:before {
  transform: scale(0.75, 1) translateX(10%);
}
.tipLeft:after {
  transform: scale(0.75, 1) translateX(10%);
}
.tipLeft:hover:before {
  border-color: transparent transparent transparent #6F7276;
  -webkit-transform: scale(1, 1) translateX(0);
  -moz-transform: scale(1, 1) translateX(0);
  -ms-transform: scale(1, 1) translateX(0);
  transform: scale(1, 1) translateX(0);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
}
.tipLeft:hover:after {
  right: 28px;
  -webkit-transform: scale(1, 1) translateX(0);
  -moz-transform: scale(1, 1) translateX(0);
  -ms-transform: scale(1, 1) translateX(0);
  transform: scale(1, 1) translateX(0);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
}
.tipTop:before {
  top: -7px;
  right: 4px;
  transform: scale(0.75, 1) translateY(10%);
}
.tipTop:after {
  top: -53px;
  right: 50%;
  transform: scale(0.75, 1) translate(50%, 10%);
}
.tipTop:hover:before {
  top: -7px;
  right: 4px;
  border-color: #6F7276 transparent transparent transparent;
  -webkit-transform: scale(1, 1) translateY(0);
  -moz-transform: scale(1, 1) translateY(0);
  -ms-transform: scale(1, 1) translateY(0);
  transform: scale(1, 1) translateY(0);
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
.tipTop:hover:after {
  top: -53px;
  right: 50%;
  -webkit-transform: scale(1, 1) translate(50%, 0);
  -moz-transform: scale(1, 1) translate(50%, 0);
  -ms-transform: scale(1, 1) translate(50%, 0);
  transform: scale(1, 1) translate(50%, 0);
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
/* === .05 INPUTS === */
.inputLabel {
  font-weight: 300;
  font-size: 14px;
}
.textInputContainer {
  margin: 15px 0;
}
.textInputContainer label {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 46px;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .textInputContainer label {
    text-align: left;
    padding-left: 0;
  }
}
.textInputFieldWrapper {
  position: relative;
  padding: 0;
}
.textInputFieldWrapper .toolTip {
  position: absolute;
  right: -35px;
  top: 13px;
}
.textInputField {
  height: 46px;
  box-shadow: 0 0 0 transparent;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  outline: none;
}
.textInputField:focus {
  border: 2px solid #1D7BE3;
}
.textInputField:disabled {
  background-color: #e6e6e6;
}
.radioButtonWrapper {
  position: relative;
  display: inline-block;
  padding: 0 6px;
}
.radioButtonWrapper input[type="radio"] {
  display: none;
}
.radioButtonWrapper input[type="radio"]:checked + label:after {
  position: absolute;
  display: block;
  top: 3px;
  left: 9px;
  width: 13px;
  height: 13px;
  content: "";
  border-radius: 11px;
  background-color: #1D7BE3;
  z-index: 1;
}
.radioButtonWrapper label {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.radioButtonWrapper label:before {
  position: relative;
  display: inline-block;
  top: 0px;
  width: 19px;
  height: 19px;
  content: "";
  margin: 0 5px 0 0;
  border-radius: 11px;
  border: 2px solid #E1E1E1;
  background-color: transparent;
}
.radioButtonsContainer {
  display: inline-block;
}
/* === 1.0 GENERAL === */
html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
/* === 2.0 NAVIGATION TABS === */
#settingsTitle {
  font-size: 1.5em;
  font-weight: 700;
  padding: 15px 0;
}
@media only screen and (max-width: 768px) {
  #settingsTitle {
    padding-left: 25px;
  }
}
.navTabs {
  position: relative;
  height: 45px;
}
@media only screen and (max-width: 768px) {
  .navTabs {
    padding-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .navTabs ul {
    padding-left: 25px;
  }
}
.navTabs ul li {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-left: -4px;
  width: 150px;
  height: 45px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 45px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 1px solid #E1E1E1;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-bottom: none;
  background-color: #fff;
  color: #1D7BE3;
  box-shadow: none;
  z-index: 2;
}
.navTabs ul li.active {
  background-color: #1D7BE3;
  color: #fff;
  height: 46px;
}
@media only screen and (max-width: 768px) {
  .navTabs ul li {
    width: 25%;
    padding-left: 0;
    font-size: 12px;
    border-bottom: 1px solid #E1E1E1;
  }
}
/* === 3.0 INFO CONTAINER === */
#profileContainer {
  border: 1px solid #E1E1E1;
  padding-top: 25px;
}
@media only screen and (max-width: 768px) {
  #profileContainer {
    border: none;
    padding: 0;
  }
}
#profileContainer .changePage {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
}
#profileContainer .changePage:nth-child(1) {
  left: -19px;
}
#profileContainer .changePage:nth-child(2) {
  right: -19px;
}
@media only screen and (max-width: 768px) {
  #profileContainer .changePage {
    display: none;
  }
}
#profileContainer h2 {
  font-size: 18px;
  padding: 10px 0;
}
@media only screen and (max-width: 768px) {
  #profileContainer h2 {
    margin: 0;
    text-align: center;
  }
}
#profileContainer #photoSection {
  padding-left: 35px;
}
@media only screen and (max-width: 768px) {
  #profileContainer #photoSection {
    padding-left: 15px;
    margin-top: 15px;
  }
}
#profileContainer #photoSection #imgContainer {
  width: 200px;
  height: 200px;
  background: transparent url('../../img/hart_logo.png') no-repeat 50% 50%;
  background-size: contain;
}
@media only screen and (max-width: 768px) {
  #profileContainer #photoSection #imgContainer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
#profileContainer #photoSection #addPhoto {
  position: relative;
  padding: 15px 0;
}
#profileContainer #photoSection #addPhoto button {
  position: relative;
  font-weight: 500;
  text-align: left;
  padding-left: 10px;
}
#profileContainer #photoSection #addPhoto button img {
  position: absolute;
  top: 18px;
  left: 173px;
  width: 9px;
  height: 4px;
}
#profileContainer #photoSection #addPhoto button .caretUp {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
@media only screen and (max-width: 768px) {
  #profileContainer #photoSection #addPhoto button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
#profileContainer #photoSection #addPhoto ul {
  display: none;
  position: relative;
  width: 199px;
  height: auto;
  padding-left: 0;
  margin-top: 13px;
  border-radius: 4px;
  border: 1px solid #979797;
  box-shadow: inset 0px 0px 0px 1px #E1E1E1;
}
@media only screen and (max-width: 768px) {
  #profileContainer #photoSection #addPhoto ul {
    left: 50%;
    transform: translateX(-50%);
  }
}
#profileContainer #photoSection #addPhoto ul a {
  text-decoration: none;
}
#profileContainer #photoSection #addPhoto ul a:hover li {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#profileContainer #photoSection #addPhoto ul a li {
  width: 100%;
  height: 40px;
  list-style: none;
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #1D7BE3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#profileContainer #photoSection #addPhoto ul:before {
  position: absolute;
  top: -6px;
  left: 172px;
  width: 11px;
  height: 11px;
  content: '';
  border-left: 1px solid #979797;
  border-top: 1px solid #979797;
  box-shadow: inset 0px 0px 0px 1px #E1E1E1;
  background-color: #fff;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
#profileContainer #photoSection #addPhoto ul:after {
  position: absolute;
  top: 0px;
  left: 171px;
  width: 13px;
  height: 11px;
  content: '';
  background-color: #fff;
  border-radius: 2px;
  -webkit-transform: rotateZ(0);
  -moz-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  transform: rotateZ(0);
}
#profileContainer #photoSection .remove {
  position: relative;
  width: 200px;
  padding-left: 0;
  padding-right: 0;
}
#profileContainer #photoSection .remove p {
  text-align: center;
  color: #1D7BE3;
}
@media only screen and (max-width: 768px) {
  #profileContainer #photoSection .remove {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
#profileContainer #profileSection {
  position: relative;
}
@media only screen and (max-width: 768px) {
  #profileContainer #profileSection {
    margin-top: 15px;
  }
}
#profileContainer #profileSection .emailUpdates {
  position: relative;
}
#profileContainer #profileSection .emailUpdates span {
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 768px) {
  #profileContainer #profileSection .emailUpdates span {
    position: relative;
    text-align: center;
    margin-top: 5px;
  }
}
#profileContainer #profileSection .emailUpdates .radioButtonsContainer {
  position: absolute;
  top: 0;
  right: 15px;
}
@media only screen and (max-width: 768px) {
  #profileContainer #profileSection .emailUpdates .radioButtonsContainer {
    position: relative;
    left: 50%;
    transform: translateX(-45%);
    margin-top: 5px;
  }
}
#profileContainer #profileSection .password .buttonDiv {
  position: relative;
  padding: 0;
}
#profileContainer #profileSection .password .buttonDiv .toolTip {
  position: absolute;
  top: 10px;
  left: 215px;
  width: 19px;
  heigth: 19px;
}
#profileContainer #profileSection .password label {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  #profileContainer #profileSection .password label {
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  #profileContainer #socialMediaSection {
    margin-top: 15px;
  }
}
#profileContainer #socialMediaSection input {
  padding-left: 50px;
}
#profileContainer #socialMediaSection #facebook {
  background: transparent url('../../img/facebook.png') no-repeat 2% 50%;
  background-size: 38px 38px;
}
#profileContainer #socialMediaSection #twitter {
  background: transparent url('../../img/twitter.png') no-repeat 2% 50%;
  background-size: 38px 38px;
}
#profileContainer #socialMediaSection #google {
  background: transparent url('../../img/google.png') no-repeat 2% 50%;
  background-size: 38px 38px;
}
#profileContainer #actionButtons {
  float: right;
  margin-right: 25px;
  padding: 50px 0;
}
@media only screen and (max-width: 768px) {
  #profileContainer #actionButtons button {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 768px) {
  #profileContainer #actionButtons {
    float: left;
    left: 25%;
    display: block;
    position: relative;
    transform: translateX(-100px);
  }
}
@media screen and (max-width: 425px) {
  #profileContainer #actionButtons {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-100px);
  }
}
