/*
Author: Trevor Linan
Author URI: 
Version: 1.0
Text Domain: 

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 General
2.0 Navigation Tabs
3.0 Info Container
--------------------------------------------------------------*/
.button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  transition-duration: .15s;
}
.button:active {
  transform: scale(0.95, 0.95) translateY(0px);
  outline: none;
}
.buttonBlue {
  background-color: #1D7BE3;
  color: #fff;
}
.buttonBlue:hover {
  box-shadow: 0 2px 0px #000;
}
.buttonWhite {
  background-color: #fff;
  color: #1D7BE3;
  border: 1px solid #E1E1E1;
}
.buttonWhite:hover {
  box-shadow: 0 2px 0px #1D7BE3;
}
.formLayout {
  height: 46px;
}
.formLayout .form-group {
  position: relative;
  margin: 15px 0;
}
.formLayout .form-group img {
  position: absolute;
  right: -20px;
  top: 13px;
  width: 19px;
  height: 19px;
}
.formLayout label {
  font-weight: 300;
}
.formLayout input {
  position: relative;
  height: 46px;
  box-shadow: 0 0 0 0px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}
.formLayout input:focus {
  border: 2px solid #1D7BE3;
  box-shadow: none;
}
.formLayout input:disabled {
  position: relative;
  background-color: #e6e6e6;
}
/* === 1.0 GENERAL === */
html,
body {
  font-family: 'Roboto', sans-serif;
}
/* === 2.0 NAVIGATION TABS === */
#settingsTitle {
  font-size: 1.5em;
  font-weight: 700;
  padding: 15px 0;
}
.navTabs {
  position: relative;
  height: 45px;
}
.navTabs ul li {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-left: -4px;
  width: 150px;
  height: 45px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 45px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 1px solid #E1E1E1;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-bottom: none;
  background-color: #fff;
  color: #1D7BE3;
  box-shadow: none;
  z-index: 2;
}
.navTabs ul li.active {
  background-color: #1D7BE3;
  color: #fff;
  height: 46px;
}
/* === 3.0 INFO CONTAINER === */
#profileContainer {
  border: 1px solid #E1E1E1;
  padding-top: 25px;
}
#profileContainer .changePage {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
}
#profileContainer img:nth-child(1) {
  left: -19px;
}
#profileContainer img:nth-child(2) {
  right: -19px;
}
#profileContainer h2 {
  font-size: 18px;
  padding: 10px 0;
}
#profileContainer #photoSection #imgContainer {
  width: 200px;
  height: 200px;
  background: transparent url('../../img/hart_logo.png') no-repeat 50% 50%;
  background-size: contain;
}
#profileContainer #photoSection #addPhoto {
  position: relative;
  padding: 15px 0;
}
#profileContainer #photoSection #addPhoto button {
  position: relative;
  font-weight: 500;
  text-align: left;
  padding-left: 10px;
}
#profileContainer #photoSection #addPhoto button img {
  position: absolute;
  top: 18px;
  left: 173px;
  width: 9px;
  height: 4px;
}
#profileContainer #photoSection .remove {
  width: 200px;
  padding-left: 0;
  padding-right: 0;
}
#profileContainer #photoSection .remove p {
  text-align: center;
  color: #1D7BE3;
}
#profileContainer #profileSection {
  position: relative;
}
#profileContainer #profileSection #emailUpdates {
  position: relative;
  font-size: 12px;
  margin-top: 5px;
  display: flex;
}
#profileContainer #profileSection #emailUpdates div:nth-child(1) {
  position: absolute;
  left: 20px;
  display: inline-block;
}
#profileContainer #profileSection #emailUpdates div:nth-child(2) {
  position: absolute;
  right: 20px;
  display: inline-block;
}
#profileContainer #profileSection #emailUpdates input {
  margin: 0 10px;
}
#profileContainer #profileSection #password .form-group {
  padding-top: 25px;
}
#profileContainer #profileSection #password .form-group button {
  display: inline-block;
}
#profileContainer #profileSection #password .form-group img {
  display: inline-block;
  position: relative;
  right: 0;
  top: 0;
  left: 10px;
}
#profileContainer #socialMediaSection input {
  padding-left: 50px;
}
#profileContainer #socialMediaSection #facebook {
  background: transparent url('../../img/facebook.png') no-repeat 2% 50%;
  background-size: 38px 38px;
}
#profileContainer #socialMediaSection #twitter {
  background: transparent url('../../img/twitter.png') no-repeat 2% 50%;
  background-size: 38px 38px;
}
#profileContainer #socialMediaSection #google {
  background: transparent url('../../img/google.png') no-repeat 2% 50%;
  background-size: 38px 38px;
}
#profileContainer #actionButtons {
  float: right;
  padding: 50px 0;
}
