/*
Author: Trevor Linan
Author URI: 
Version: 1.0
Text Domain: 

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
.01 Variables (LESS ONLY)
.02 Resusables
.03 Helper Classes
.04 Tool Tips
.05 Inputs
1.0 General
2.0 Navigation Tabs
3.0 Info Container
--------------------------------------------------------------*/

/* === .01 VARIABLES (LESS ONLY) === */
@blue: #1D7BE3;
@lineGray : #E1E1E1;
@toolTipGray: #6F7276;
@mobile768: ~"only screen and (max-width: 768px)";

/* === .02 REUSABLES === */
.button {
	width: 200px;
	height: 40px;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 300;
	outline: none;
	transition-duration: .15s;

	&:active {
		transform: scale(.95, .95);
		outline: none;
	}
}

.buttonBlue {
	background-color: @blue;
	color: #fff;

	&:hover {
		box-shadow: 0 2px 0px #666;
	}
}

.buttonWhite {
	background-color: #fff;
	color: @blue;
	border: 1px solid @lineGray;

	&:hover {
		box-shadow: 0 2px 0px @blue;
	}
}

/* === .03 HELPER CLASSES === */
.mt15 { margin-top: 15px !important; }

.mb15 { margin-bottom: 15px !important; }

.ml15 {	margin-left: 15px !important; }

.mr15 { margin-right: 15px !important; }

.mt0 { margin-top: 0 !important; }

.mb0 { margin-bottom: 0 !important; }

.ml0 { margin-left: 0 !important; }

.mr0 { margin-right: 0 !important; }

/* === .04 TOOL TIPS === */
.toolTip {
	position: relative;
	display: inline-block;
	width: 19px;
	height: 19px;
	z-index: 2;

	img {
		width: 100%;
		height: 100%;
	}

	&:before {
		position: absolute;
		top: 6px;
		right: 16px;
		transform: scale(.75, 1) translateX(10%);
		border-color: transparent transparent transparent @toolTipGray;
		border-width: 6px;
		border-style: solid;
		content: '';
		opacity: 0;
	}

	&:after {
		position: absolute;
		top: -12px;
		right: 28px;
		height: 46px;
		transform: scale(.75, 1) translateX(10%);
		content: '';
		opacity: 0;
	}

	&:hover {

		&:before {
			position: absolute;
			top: 6px;
			right: 16px;
			width: 9px;
			height: 9px;
			content: '';
			color: #fff;
			border-color: transparent transparent transparent @toolTipGray;
			border-width: 6px;
			border-style: solid;
			opacity: 1;
			-webkit-transition: all 0.5s ease-out;
			-moz-transition: all 0.5s ease-out;
			-ms-transition: all 0.5s ease-out;
			transition: all 0.25s ease-out;
		}

		&:after {
			position: absolute;
			top: -12px;
			right: 28px;
			height: 46px;
			content: attr(data-toolTip);
			padding: 10.5px 15px;
			color: #fff;
			font-size: 14px;
			font-weight: 300;
			border-radius: 4px;
			background-color: @toolTipGray;
			white-space: nowrap;
			opacity: 1;
			-webkit-transition: all 0.5s ease-out;
			-moz-transition: all 0.5s ease-out;
			-ms-transition: all 0.5s ease-out;
			transition: all 0.25s ease-out;
		}
	}
}

.tipLeft {

	&:before {
		transform: scale(.75, 1) translateX(10%);
	}

	&:after {
		transform: scale(.75, 1) translateX(10%);
	}

	&:hover {

		&:before {
			border-color: transparent transparent transparent @toolTipGray;
			-webkit-transform: scale(1, 1) translateX(0);
			-moz-transform: scale(1, 1) translateX(0);
			-ms-transform: scale(1, 1) translateX(0);
			transform: scale(1, 1) translateX(0);
			-webkit-transform-origin: right center;
			-moz-transform-origin: right center;
			-ms-transform-origin: right center;
			transform-origin: right center;
		}

		&:after {
			right: 28px;
			-webkit-transform: scale(1, 1) translateX(0);
			-moz-transform: scale(1, 1) translateX(0);
			-ms-transform: scale(1, 1) translateX(0);
			transform: scale(1, 1) translateX(0);
			-webkit-transform-origin: right center;
			-moz-transform-origin: right center;
			-ms-transform-origin: right center;
			transform-origin: right center;
		}
	}
}

.tipTop {

	&:before {
		top: -7px;
		right: 4px;
		transform: scale(.75, 1) translateY(10%);
	}

	&:after {
		top: -53px;
		right: 50%;
		transform: scale(.75, 1) translate(50%, 10%);
	}

	&:hover {

		&:before {
			top: -7px;
			right: 4px;
			border-color: @toolTipGray transparent transparent transparent;
			-webkit-transform: scale(1, 1) translateY(0);
			-moz-transform: scale(1, 1) translateY(0);
			-ms-transform: scale(1, 1) translateY(0);
			transform: scale(1, 1) translateY(0);
			-webkit-transform-origin: center bottom;
			-moz-transform-origin: center bottom;
			-ms-transform-origin: center bottom;
			transform-origin: center bottom;
		}

		&:after {
			top: -53px;
			right: 50%;
			-webkit-transform: scale(1, 1) translate(50%, 0);
			-moz-transform: scale(1, 1) translate(50%, 0);
			-ms-transform: scale(1, 1) translate(50%, 0);
			transform: scale(1, 1) translate(50%, 0);
			-webkit-transform-origin: center bottom;
			-moz-transform-origin: center bottom;
			-ms-transform-origin: center bottom;
			transform-origin: center bottom;
		}
	}
}

/* === .05 INPUTS === */
.inputLabel {
	font-weight: 300;
	font-size: 14px;
}

.textInputContainer {
	margin: 15px 0;

	label {
		.inputLabel;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 46px;
		text-align: right;

		@media @mobile768 {
			text-align: left;
			padding-left: 0;
		}
	}
}

.textInputFieldWrapper {
	position: relative;
	padding: 0;

	.toolTip {
		position: absolute;
		right: -35px;
		top: 13px;
	}
}

.textInputField {
	height: 46px;
	box-shadow: 0 0 0 transparent;
	border: 1px solid @lineGray;
	border-radius: 4px;
	outline: none;

	&:focus {
		border: 2px solid @blue;
	}

	&:disabled {
		background-color: #e6e6e6;
	}
}

.radioButtonWrapper {
	position: relative;
	display: inline-block;
	padding: 0 6px;

	input[type="radio"] {
		display: none;

		&:checked + label:after {
			position: absolute;
			display: block;
			top: 3px;
			left: 9px;
			width: 13px;
			height: 13px;
			content: "";
			border-radius: 11px;
			background-color: @blue;
			z-index: 1;
		}
	}

	label {
		.inputLabel;
		display: flex;
		flex-direction: row;
		justify-content: center;

		&:before {
			position: relative;
			display: inline-block;
  			top: 0px;
  			width: 19px;
  			height: 19px;
  			content: "";
  			margin: 0 5px 0 0;
  			border-radius: 11px;
			border: 2px solid @lineGray;
			background-color: transparent;
		}
	}
}

.radioButtonsContainer {
	display: inline-block;
}

/* === 1.0 GENERAL === */
html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/* === 2.0 NAVIGATION TABS === */
#settingsTitle {
	font-size: 1.5em;
	font-weight: 700;
	padding: 15px 0;

	@media @mobile768 {
		padding-left: 25px;
	}
}

.navTabs {
	position: relative;
	height: 45px;

	@media @mobile768 {
		padding-left: 0;
	}
	
	ul {

		@media @mobile768 {
			padding-left: 25px;
		}

		li {
			position: relative;
			display: inline-block;
			list-style: none;
			padding: 0;
			margin-left: -4px;
			width: 150px;
			height: 45px;
			font-size: 14px;
			font-weight: 300;
			text-align: center;
			line-height: 45px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-top: 1px solid @lineGray;
			border-left: 1px solid @lineGray;
			border-right: 1px solid @lineGray;
			border-bottom: none;
			background-color: #fff;
			color: @blue;
			box-shadow: none;
			z-index: 2;

			&.active {
				background-color: @blue;
				color: #fff;
				height: 46px;
			}

			@media @mobile768 {
				width: 25%;
				padding-left: 0;
				font-size: 12px;
				border-bottom: 1px solid @lineGray;
			}
		} 
	} 
} 

/* === 3.0 INFO CONTAINER === */

#profileContainer {
	border:1px solid @lineGray;
	padding-top: 25px;

	@media @mobile768 {
		border: none;
		padding: 0;
	}

	.changePage {
		position: absolute;
		width: 38px;
		height: 38px;
		top: 50%;

		&:nth-child(1) {
			left: -19px;
		}

		&:nth-child(2) {
			right: -19px;
		}

		@media @mobile768 {
			display: none;
		}
	}

	h2 {
		font-size: 18px;
		padding: 10px 0;

		@media @mobile768 {
			margin: 0;
			text-align: center;
		}	
	}

	#photoSection {

		@media @mobile768 {
			margin-top: 15px;
		}

		#imgContainer {
			width: 200px;
			height: 200px;
			background: transparent url('../../img/hart_logo.png') no-repeat 50% 50%;
			background-size: contain;

			@media @mobile768 {
				position: relative;
				left: 50%;
				transform: translateX(-50%);
			}		
		}

		#addPhoto {
			position: relative;
			padding: 15px 0;

			button {
				position: relative;
				font-weight: 500;
				text-align: left;
				padding-left: 10px;

				img {
					position: absolute;
					top: 18px;
					left: 173px;
					width: 9px;
					height: 4px;
				}

				@media @mobile768 {
					position: relative;
					left: 50%;
					transform: translateX(-50%);
				}
				
			}
		}

		.remove {
			width: 200px;
			padding-left: 0;
			padding-right: 0;

			p {
				text-align: center;
				color: @blue;
			}

			@media @mobile768 {
				position: relative;
				left: 50%;
				transform: translateX(-50%);
			}	
		}
	}

	#profileSection {
		position: relative;

		@media @mobile768 {
			margin-top: 15px;
		}

		.emailUpdates {
			position: relative;

			span {
				position: absolute;
				top: 0;
				left: 0;

				@media @mobile768 {
					position: relative;
					text-align: center;
					margin-top: 5px;
				}
			}

			.radioButtonsContainer {
				position: absolute;
				top: 0;
				right: 15px;

				@media @mobile768 {
					position: relative;
					left: 50%;
					transform: translateX(-45%);
					margin-top: 5px;
				}
			}
		}

		.password {

			.buttonDiv {
				position: relative;
				padding: 0;

				.toolTip {
					position: absolute;
					top: 10px;
					left: 215px;
					width: 19px;
					heigth: 19px;
				}
			}

			label {
				.inputLabel; 
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 40px;
				text-align: right;

				@media @mobile768 {
					text-align: left;
				}
			}
		}
	}

	#socialMediaSection {

		@media @mobile768 {
			margin-top: 15px;
		}

		input {
			padding-left: 50px;
		}

		#facebook {
			background: transparent url('../../img/facebook.png') no-repeat 2% 50%;
			background-size: 38px 38px;
		}

		#twitter {
			background: transparent url('../../img/twitter.png') no-repeat 2% 50%;
			background-size: 38px 38px;
		}

		#google {
			background: transparent url('../../img/google.png') no-repeat 2% 50%;
			background-size: 38px 38px;
		}
	}

	#actionButtons {
		float: right;
		margin-right: 25px;
		padding: 50px 0;

		button {
			@media @mobile768 {
				margin-top: 5px;
			}
		}

		@media @mobile768 {
			float: left;
			left: 25%;
			display: block;
			position: relative;
			transform: translateX(-100px);
		}

		@media screen {
			@media (max-width: 425px) {
				display: block;
				position: relative;
				left: 50%;
				transform: translateX(-100px);
			}
		}
	}
}
	


